.logo {
    margin-left: 5%;
    color: white;
    font-style: italic;
}

.Tagline{
    font-size:9px;
    margin-left:5%;
    color: white;
    position: relative;
    top: -20px
}

.Introtext {
    text-align: center;
    color: white;
    position: relative;
    top: 80px;
}