footer{
    background: blue;
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;

}
footer a{
    color: var(--color-bg);
}

.leoo{
    display: flex;
    justify-content: center;
    gap: 1rem;
   margin-bottom: 4rem;
}
.leoo a{
    background: white;
    color: var(--color-white);
    font-size:xx-large;
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;

}
.leoo a:hover{
    background: transparent;
    color: red;
    border-color: var(--color-bg);

}
.copyright{
    margin-bottom: 4rem;
    color: white;
}